@model FacultyJournal.Models.ArticleReviewer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArticleReviewer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reviewers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reviewers.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
